<?php
$_categories=$this->getCurrentChildCategories();
if($_categories->count()):
$categorycount = 1;
foreach ($_categories as $_category):
if($_category->getIsActive()):
$cur_category=Mage::getModel('catalog/category')->load($_category->getId());
$layer = Mage::getSingleton('catalog/layer');
$layer->setCurrentCategory($cur_category);
$catName = $this->getCurrentCategory()->getName();
if ($categorycount % 3 == 0){
$class = "last";
}
else{
$class = "";
}
?>

<article class="cat-box <?php echo $class?>">
<div class="image-wrap">
<?php if($_category->getImageUrl()):?>
<a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><img src="<?php echo $_category->getImageUrl() ?>" width="100" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" /></a>
<?php else:?>
<a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>placeholder.gif" width="100" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" /></a>
<?php endif;?>

</div>
<div class="text-pad">
<h4><a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a></h4>
<?php if(strlen($_category->getDescription()) > 0 && ($_category->getDescription() <> $this->htmlEscape($_category->getName()))):?>
<p><?php echo $this->htmlEscape($_category->getDescription()) ?></p>
<?php endif;?>	

<a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>">View Products <i class="fa fa-caret-right fa-3 icon"></i></a>
</div>        
</article>

<?php
endif;
$categorycount++;
endforeach;
endif;
?>

<div class="clear"></div>
