<?php if($this->getCurrencyCount() > 1): ?>
<div class="form-language">
    
    <select onchange="window.location.href=this.value" name="custom-currency-selector" id="custom-currency-selector" class="dropdown textbox">
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
        <option value="<?php echo $this->getSwitchCurrencyUrl($_code)?>"
            <?php if($_code == $this->getCurrentCurrencyCode()): ?>
                selected="SELECTED"
            <?php endif; ?>>
            
            <?php if($_code == "GBP"): ?>
                <?php echo "£" ?>
            <?php endif; ?>

            <?php if($_code == "EUR"): ?>
                <?php echo "€" ?>
            <?php endif; ?>            

        </option>
        <?php endforeach; ?>
    </select>
</div>
<?php endif; ?>