<table border="0">
									<tr>
										<td>
											<table border="0">
<tr>
<img src="/skin/frontend/twb_package/default/images/logo.png" />
</tr>
												<tr>
													<td>Hello blah blah,</td>
												</tr>
												<tr>
													<td><p>Thank you for contacting '.$adminName.'. A company representative will contact you as soon as possible.</p></td>
												</tr>
												<tr><td colspan="2">&nbsp;</td></tr>
												<tr>
													<td colspan="2">Thank You.</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>