<?php

$category = Mage::getSingleton('catalog/layer')->getCurrentCategory();

$categories = $category->getCollection()

        ->addAttributeToSelect(array('name', 'image'))

        ->addAttributeToFilter('is_active', 1)
        ->addAttributeToSort('position')
        ->addIdFilter($category->getChildren())

?>


<section class="grey-texturered-panel inner-padding container">
      <div class="row">
        <div class="twelvecol">
          <div class="category-row">
          <div class="product white-background" style="text-align:left;padding:15px 5px 5px 5px;">
               <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('catdescription')->toHtml(); ?> 
             </div>
             </div>
          <div class="category-row">         
          

    <?php foreach ($categories as $category): ?>
            <a class="category" href="<?php echo $category->getUrl() ?>"><img src="<?php echo $category->getImageUrl() ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />

              <h2><span> <?php echo $category->getName() ?></span></h2>
          </a>
			

    <?php endforeach; ?>

     </div>
        </div>
      </div>
    </section>

