﻿@import "compass/css3";

/* Useful Mixins. */
$font-stack-bold: 'open_sansbold', Arial, Helvetica, sans-serif;
$font-stack-semibold: 'open_sanssemibold', Arial, Helvetica, sans-serif;
$font-stack: 'open_sansregular', Arial, Helvetica, sans-serif;
$font-stack-light: 'open_sanslight', Arial, Helvetica, sans-serif;
$text-color: rgb(51,51,51);
$link-color: rgb(170,170,170);
$link-color-hover: rgb(0,0,0);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$royal-blue: rgb(18,75,140);
$red: rgb(189,31,45);

/* Greys used for Template. Delete or modify as needed. */
$light-grey: rgb(238,238,238);
$dark-grey: rgb(204,204,204);

.box-sizing { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* 
 * Reset, Grid and Default component styles .
 */
html { margin: 0 !important; }
html, body, p, a, h1, h2, h3, h4, h5, div, table, tr, td, span, ul, li, form { margin: 0; padding: 0; }
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object { display: block }
html, body { font: normal 100% $font-stack; line-height: 1.5em; color: $text-color; background: rgb(248,248,248); }

/* Grid/Layout Styles. */
.container { padding-left: 10px; padding-right: 10px; display:block; overflow: hidden; }
.row { overflow:hidden; width: 100%; max-width: 1260px; margin: 0 auto; 
  .onecol { width: 6.25%; }
  .twocol { width: 14.58%; }
  .threecol { width: 22.91%; }
  .fourcol { width: 31.25%; }
  .fivecol { width: 39.58%; }
  .sixcol { width: 47.91%; }
  .sevencol { width: 56.25%; }
  .eightcol { width: 64.58%; }
  .ninecol { width: 72.91%; }
  .tencol { width: 81.25%; }
  .elevencol { width: 89.58%; }
  .twelvecol { width: 97.91%; }
  .row { margin-right: 0; margin-left: 0; 
    .onecol:nth-child(1), .twocol:nth-child(1), .threecol:nth-child(1), .fourcol:nth-child(1), .fivecol:nth-child(1), .sixcol:nth-child(1), .sevencol:nth-child(1), .eightcol:nth-child(1), .ninecol:nth-child(1), .tencol:nth-child(1), .elevencol:nth-child(1), .twelvecol:nth-child(1) { margin-left: -0.04%; }
    .onecol:nth-last-child(1), .twocol:nth-last-child(1), .threecol:nth-last-child(1), .fourcol:nth-last-child(1), .fivecol:nth-last-child(1), .sixcol:nth-last-child(1), .sevencol:nth-last-child(1), .eightcol:nth-last-child(1), .ninecol:nth-last-child(1), .tencol:nth-last-child(1), .elevencol:nth-last-child(1), .twelvecol:nth-last-child(1) { margin-right: -0.04%; }
  }
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { @extend .left !optional; margin-right: 1.04%; margin-left: 1.04%; min-height: 1px; }
.news-title-box { @extend .left !optional; width: 20%; margin: 0 5% 30px 0; }
.news-search-box { overflow: hidden; @extend .left !optional; width: 75%; margin: 0 0 30px 0; }
img, 
object, 
embed { max-width: 100%; }
img { height: auto; display: block; }
@media handheld, only screen and (max-width: 620px) {
  .row, body, .container { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; 
  }
  .row { 
    .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .news-title-box, .news-search-box { width: auto; float: none; margin-right: 15px; margin-left: 15px; display:block; }
    .row { 
      .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { margin-left: 0; margin-right: 0; }
    }
  }
}

/* Type styles. */
h1, h2, h3, h4, h5 { line-height: 1.2em; letter-spacing: -0.02em; }
h1 { margin: 0 0 25px 0; font: normal 3em $font-stack; letter-spacing: -0.05em; }
h2 { margin: 0 0 15px 0; font: normal 1.875em $font-stack; }
h3 { margin: 0 0 10px 0; font: normal 1.313em $font-stack; }
h4 { margin: 0 0 10px 0; font: normal 1.125em $font-stack; }
h5 { margin: 0 0 10px 0; font: normal 1em $font-stack; }
.big-text { font: normal 1.125em $font-stack; line-height: 1.5em; }
p { margin: 0 0 25px 0; font: normal 1em $font-stack; line-height: 1.5em; }
@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/opensans-bold-webfont.eot');
    src: url('/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('/fonts/opensans-light-webfont.eot');
    src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/fonts/opensans-light-webfont.woff') format('woff'),
         url('/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('/fonts/opensans-semibold-webfont.eot');
    src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Link styles. */
a { outline: none; text-decoration: none; color: $royal-blue; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; 
  img { border: none; }
}
a:hover { color: $link-color-hover; }
a:focus { outline: none; }

/* List styles. */
ul { 
  li { list-style: none; }
}

/* Form options. */
.textbox { width: 100%; padding: 15px 15px; margin: 5px 0 15px 0; color: $text-color; background: rgb(244,244,244); border: 1px solid rgb(221,221,221); @extend .box-sizing !optional; *padding: 15px 0; @include border-radius(5px); -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.14);
-moz-box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.14);
box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.14); }
.textbox:focus { outline: none; }
.multiline { height: 243px; font-family: $font-stack; }
.button { float: right; display: block; margin-bottom: 30px; padding: 15px 0 12px 0; color: $white; text-align: center; font: normal 1em $font-stack-bold; text-transform: uppercase; background: $royal-blue; @include border-radius(5px); border-bottom: 3px solid rgb(15,64,119);
  span { padding: 0 25px; }
  &:hover { color: $white; background: rgb(28,95,175); }
  &.red { color: $white; background: $red; border-bottom: 3px solid rgb(161,27,39); 
    &:hover { background: rgb(161,27,39); border-bottom: 3px solid $red; }
  }
  &.white { color: $red; background: $white; border-bottom: 3px solid rgb(228,229,229); 
    &:hover { background: rgb(245,245,245); border-bottom: 3px solid rgb(200,200,200); }
  }
}

/* Table Styles */
table { overflow: hidden; width: 100%; text-align: left; margin-bottom: 40px; 
  thead, tbody, tr { overflow: hidden; }
  th, td { padding: 10px; }
  tr { border-bottom: 1px solid rgb(248,248,248); }
  th { background: $light-grey; }
  td { background: $white; }
}
@media handheld, only screen and (max-width: 620px) {
  table { font-size: 80%; }
  h1 { font: normal 2.5em $font-stack; }
}

/* Clearing, floating and aligning Styles. */
.first { margin-left: 0 !important; }
.last { margin-right: 0 !important; }
.last-pad { padding-right: 0 !important; }
.clear { clear: both; font-size: 0; }
.no-bottom-margin { margin-bottom: 0 !important; }
.no-top-margin { margin-top: 0 !important; }
.no-bottom-padding { padding-bottom: 0 !important; }
.no-top-padding { padding-top: 0 !important; }
.left { float: left; display: inline-block; }
.right { float: right; display: inline-block; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.no-display, .display-none { display: none; }
.relative { position: relative; }
.inline-list {
  li { @extend .left !optional; 
    &.right { @extend .right !optional; }
  }
}
figure { position: relative; 
  img { width: 100% }
} 
hr { height: 5px; margin: 25px 0; background: $light-grey; border: none; }

/* 
 * PROJECT STYLES 
 */
/* Header styles. */
header { position: relative; z-index: 2; overflow: visible !important; padding-top: 15px; padding-bottom: 20px; background: $white;
  .row { overflow: visible !important; }
  .logo { float: left; margin: 14px 0 0 0; }
  .header-right { display:block; 
    .top-nav { overflow: hidden; line-height: 1em;
      .left.inline-list { font: normal 0.875em $font-stack-semibold; 
        li:nth-child(1) a { margin-right: 20px; color: $red; }
        li:nth-child(2) a { color: $royal-blue; }
        a {
          i { color: rgb(153,153,153); }

        }
      }
      .right.inline-list { font: normal 0.875em $font-stack-light; 
        li { margin-left: 20px;
          a { color: rgb(153,153,153); 
            &:hover { color: rgb(17,17,17); }
          }
        }
      }
    }
  }
  .top { overflow: hidden; display: none; width: 100%; padding-bottom: 10px; margin-bottom:0px; border-bottom: 1px solid $light-grey;
    ul.inline-list { width: 227px !important; margin: 0 auto; font: normal 0.875em $font-stack-light;
      li:nth-child(1) { margin: 0; }
      li { margin-left: 15px;
        a { color: rgb(153,153,153); 
          &:hover { color: rgb(17,17,17); }
        }
      }
    }
  }
}
.mobile-navigation-trigger, .mobile-navigation { display: none; }

/* Navigation Styles - move into Header styles if navigation sits there. */
.main-navigation { display: block; margin-top: 37px;
  ul { display: block; width:102.1%; margin-left: -20px;
    li { position: relative;
      a { padding: 15px 20px; display: block; text-align: center; color: rgb(51,51,51); font: normal 1.125em/1em $font-stack; 
        i { width: 19px; height: 16px; padding: 3px 0 0 0; font-size: 0.75em; background: rgb(244,244,244); @include border-radius(10em); }
        &.button { margin: 0; padding: 15px 25px 12px 25px; font: normal 1em/1em $font-stack-bold; }
        &:hover { background: rgb(234,234,234); @include border-radius(5px); }
      }
      .dropdown { position: absolute; left:0; top:45px; display: none; background: rgb(234,234,234); }
      &:hover {  
        a { background: rgb(234,234,234); @include border-radius(5px); }
        .dropdown { display: block; width:200px; padding:20px 15px; 
          -webkit-border-radius: 5px;
          -webkit-border-top-left-radius: 0;
          -moz-border-radius: 5px;
          -moz-border-radius-topleft: 0;
          border-radius: 5px;
          border-top-left-radius: 0;
          ul { margin: 0; 
            li { display:block; float: none; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(200,200,200); 
              a { padding:5px; text-align: left; 
                &:hover { background: rgb(245,245,245); }
              }
            }
            :nth-last-child(1) { border-bottom: 0; margin-bottom: 0; }
          }
        }
      }
    }
  }
}


/* Hamburger navigation. */
.hamburger { position: relative; z-index: 1002; display: none; margin-top:16px; float: right; -moz-user-select: none; cursor: pointer; transform: translate3d(0px, 0px, 0px); transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s; 
  &.is-active { 
    .-top { background: $white; transform: translateY(200%) rotate(45deg) !important; } 
    .-mid { opacity: 0; background: $white; }
    .-bottom { background: $white; transform: translateY(-200%) rotate(135deg) !important; }
  }
}
.hamburger-layer { width: 28px; height: 4px; display: block; margin-bottom: 4px; opacity: 1; background: $dark-grey; border-radius: 2px; transform: translate3d(0px, 0px, 0px); transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s; }
.hamburger-navigation { position: fixed; bottom: 0; top: 0; left: 0; z-index: 1001; height: 100%; width: 100%; display: none; background: $royal-blue; transform: translate3d(0px, -100%, 0px); transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s; 
  &.is-active { display: block; transform: translate3d(0px, 0px, 0px); }
  .wrapper { width: 100%; height: 100%; display: table; 
    .hamburger { position: absolute; top:40px; right:15px; }
    ul { width: 100%; display: table-cell; vertical-align: middle; 
      li { list-style: none; margin-bottom: 1em; text-align: center; 
        a { color:$white; font: normal 1.2em $font-stack; text-transform: uppercase; transform: translate3d(0px, -50%, 0px); transition: all 0.75s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s; }
      }
    }
    .button { width: 80%; float: none; display: block; margin:50px auto 0 auto; }
  }
}
@media handheld, only screen and (max-width: 1023px) {
  header {
    .logo { width:90%; }
    .header-right { display:block; 
      .top-nav { overflow: hidden; line-height: 1em;
        .left.inline-list { font: normal 0.875em $font-stack-semibold; 
          li:nth-child(1) a { margin-right: 15px; color: $red; }
          li:nth-child(2) a { color: $royal-blue; }
          a {
            i { color: rgb(153,153,153); }
          }
        }
        .right.inline-list { font: normal 0.875em $font-stack-light; 
          li { margin-left: 15px;
            a { color: rgb(153,153,153); }
          }
        }
      }
    }
  }
  .main-navigation { 
    ul { overflow: hidden; display: block; width:101%; margin-left: -10px;
      li { 
        a { padding: 15px 10px; display: block; text-align: center; color: rgb(51,51,51); font: normal 0.938em/1em $font-stack; 
          i { width: 19px; height: 16px; padding: 3px 0 0 0; font-size: 0.75em; background: rgb(244,244,244); @include border-radius(10em); }
          &.button { margin: 0; padding: 15px 13px 12px 13px; font: normal 0.813em/1em $font-stack-bold; }
          &:hover { background: rgb(234,234,234); @include border-radius(5px); }
        }
      }
    }
  }
}
@media handheld, only screen and (max-width: 800px) {
  header {
    .header-right {
      .top-nav {
        .left.inline-list { display: none; }
      }
    }
  }
}
@media handheld, only screen and (max-width: 767px) { 
  .main-navigation { display: none; }
  .hamburger { display: block; }
  header { padding: 10px 0;
    .ninecol { width: auto; float:right; display: inline-block; }
    .threecol { width: auto;  float:left; display: inline-block;
      .logo { width: 150px; }
    }
  }
}
@media handheld, only screen and (max-width: 440px) { 
  header {
    .threecol { width: auto; 
      .logo { width: 100px; }
    }
    .header-right { display:block; 
      .right.inline-list { display:none; }
    }
    .top { display: block; }
  }
}

.search { background:#333; position:relative; z-index:2;
  .row { overflow:visible; }
	.searchbox { padding:7px 0; width:40%; float:right;
		.textbox { float:left; width:85%; margin:0; background:#fff; -webkit-border-top-right-radius: 0; padding:10px 15px;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomright: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 0; }
		.button { float:right; width:15%; margin:0; -webkit-border-top-left-radius: 0; padding:10px 0 8px;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-bottomleft: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0; }
	}
}
@media handheld, only screen and (max-width: 700px) { 
	.search .searchbox { float:left; width:70%; }
}
@media handheld, only screen and (max-width: 530px) { 
	.search .searchbox { float:left; width:100%; }
}

.std { position:relative; z-index:1; }

.accreds { padding:40px 0; background:$white; border-top:1px solid $light-grey; }
.accreds ul {
    list-style: outside none none;
    margin: 0 30%;
    overflow: hidden;
    padding: 0;
}
.accreds ul li {
    float: left;
    width: 25%;
}
.accreds ul li a {
    display: block;
}
.accreds ul li a img {
    margin: 0 auto;
}
@media handheld, only screen and (max-width: 1140px) { 
	.accreds ul { margin:0 20%; }
}
@media handheld, only screen and (max-width: 768px) { 
	.accreds ul { margin:0; }
}
@media handheld, only screen and (max-width: 400px) { 
	.accreds ul li a { padding:0 10%; }
}

footer .social .button {
    padding: 7px 0;
		float:none;
}
footer .social .button.li {
    background: #007bb6 none repeat scroll 0 0;
		border-color:#006697;
}
footer .social .button.tw {
    background: #00aced none repeat scroll 0 0;
		border-color:#008bc0;
}
footer .social .button span {
    display: inline-block;
    font-size: 0.875em;
    padding: 0 15px;
}
footer .social .button i {
    margin: 0 0 0 15px;
}

/* 
 * Interactive Component styles can be written here. 
 *
 * This currently includes Cycle Slideshow, Tabs and Owl Carousel. Add further Styling below.
 */
/* Cycle Slideshow */
.hero { position: relative; z-index: 1; overflow: hidden; display: block; padding-top: 30px; padding-bottom: 30px; background:url(/images/hero-background.jpg) bottom center no-repeat;
  .row { overflow: visible; }
  .slide { overflow: hidden; width: 100%; display: block; background: rgba(17,17,17,0.75);
    .slider-text { width:36.1%; padding: 50px 42px; @extend .left !optional; color: $white; @extend .box-sizing !optional;
      h1, h2 { margin: 0 0 20px 0; font: normal 3em/1.2em $font-stack; 
        a { color: $white; }
      }
      h2 { letter-spacing: -0.05em; }
      .button { float: left; margin: 0;
        span { padding: 0 30px; }
      }
    } 
    img { width: 63.7%; @extend .right !optional; }
  }
  .pagination { position: static; z-index: 9999; 
    span { z-index: 999; position: absolute; width: 50px; height: 42px; padding: 8px 0 0 0; display: block; color: $red; text-align: center; background: $white; @include border-radius(10em); }
    #prev { left: -25px; top: 0;  bottom: 0; margin: auto 0; }
    #next { right: -25px; top: 0; bottom: 0; margin: auto 0; }
  }
}
@media handheld, only screen and (max-width: 1250px) { 
  .hero { 
    .slide { 
      .slider-text { padding: 35px 40px;
        h1, h2 { font: normal 2.2em/1.2em $font-stack; }
        p.big-text { font: normal 0.938em $font-stack; }
      } 
    }
  }
}
@media handheld, only screen and (max-width: 1024px) { 
  .hero { 
    .slide { 
      .slider-text { width:30%; } 
      img { width: 70%; }
    }
  }
}

@media handheld, only screen and (max-width: 980px) { 
  .hero {
    .slide { overflow: hidden; width: 100%; display: block; background: none;
      .slider-text { position: absolute; bottom: 0; right: 0; left: 0; width: auto; padding: 20px 20px 20px 40px; font-size: 80%; background: rgba(17,17,17,0.75); 
        p.big-text { display: none; }
      } 
      img { width: 100%; float: none; display: block; }
    }
  }
}
@media handheld, only screen and (max-width: 620px) { 
  .hero { display: none; }
}

/* Homepage products. */
.grey-texturered-panel { position: relative; z-index: 2; overflow: visible !important; padding-top: 80px; padding-bottom: 20px; background:url(/images/grey-textured-background.jpg) top center repeat-y; 
  .centered-h3 { position: relative; max-width: 250px; margin: -90px auto 40px auto; padding: 15px 0; color: $white; text-align: center; background: rgb(153,153,153); 
    img { position: absolute; bottom: -10px; left: 0; right: 0; margin: 0 auto; }
  }
  &.inner-padding { padding-top: 40px; padding-bottom: 40px; }
} 
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-40 { padding-bottom: 40px; }
@media handheld, only screen and (max-width: 620px) { 
  .grey-texturered-panel {
    .centered-h3 { margin: -65px auto 30px auto; padding: 10px 0; }
  }
}

/* Tab styles. Each tab set to 22.75% with a gutter of 3%. A .last clears the last margin so a max of 4 tabs currently. Modify as needed. */
.tabs { overflow: hidden; }
.tab { overflow: hidden; width: 430px; margin: 0 auto; 
  &:nth-last-child(1) { margin-right: 0; }
  li { margin-right: 10px; @extend .left !optional; text-align: center; 
    &.red a { background: $red; }
  h4 { margin: 0; }
    a { display: block; padding: 15px 26px; color: $white; background: rgb(153,153,153); -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.14);
      -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.14);
      box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.14); }
    a.selected { color: $text-color; background: $white; 
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.14);
      -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.14);
      box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.14); }
  }
}
.tab-content { overflow: hidden; width: 100%; background: $white; margin-top:0; display: none; 
  .text-pad { overflow: hidden; padding: 30px; }
}
@media handheld, only screen and (max-width: 620px) {
    .tabs { padding: 15px 0; font-size: 80%; }
    .tab { width: 269px; }
    .tab li a { min-height: 25px; padding: 15px 15px; font-size: 80%; }
}

/* Owl carousel. JQuery makes these responsive so only style no need to modify widths or properties. To adjust the number of tabs see the bottom of /scripts/owl.carousel.js. */
.owl { overflow: visible !important; position: relative; }
.owl-theme { 
  .owl-controls {  
    .owl-page { display: inline-block;
      span { width: 12px; height: 12px; display: block; margin: 10px; opacity: 0.5; @include border-radius(10em); background: $dark-grey; }
      &.active span { opacity: 1; }
      &:hover span { opacity: 1; }
    }
    &.clickable {
      .owl-buttons div:hover { opacity: 1; }
    }
  }
}
.owl-carousel { position: relative; display: none; width: 93%; margin:0 3.5% 30px 3.5%; -ms-touch-action: pan-y; 
  .owl-wrapper { position: relative; display: none; }
  .owl-wrapper-outer { overflow: hidden; }
  .owl-item { float: left; 
    .item { padding: 0 16px; 
      h2 { width: 100%; display: table; color: $white; line-height: 1.2em; font: normal 1.5em $font-stack; text-align: center; background: $royal-blue; @extend .box-sizing !optional; 
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        span { display: table-cell; padding: 20px; vertical-align: middle; }
      }
    }
  }
}
.customNavigation { 
  .btn { z-index: 999; position: absolute; width: 50px; height: 42px; padding: 8px 0 0 0; display: block; color: $red; text-align: center; background: $white; @include border-radius(10em); }
  .prev { left: -5px; top: 0;  bottom: 0; margin: auto 0; }
  .next { right: -5px; top: 0; bottom: 0; margin: auto 0; }
}
@media handheld, only screen and (max-width: 620px) {
  .customNavigation { 
    .prev { left: 0px; }
    .next { right: 0px; }
  }
}


.white-panel { padding-top: 50px; padding-bottom: 50px; background: $white; }

.info-box { overflow: hidden; margin-bottom: 40px; background: rgb(234,234,234); 
  .info-text { width: 35.7%; padding: 39px 15px 15px 39px; @extend .left !optional; @extend .box-sizing !optional; 
    a { font-family: $font-stack-semibold;  
      i { color:$red; }
    }
  }
  img { width: 64.2%; @extend .right !optional; }
}
@media handheld, only screen and (max-width: 1100px) {
  .info-box {  
    .info-text { padding: 25px 15px 15px 25px;
    }
  }
}
@media handheld, only screen and (max-width: 1024px) {
  .info-box {  
    .info-text { padding: 20px;
      p { display: none; }
    }
  }
}
@media handheld, only screen and (max-width: 900px) {
  .info-box {  
    .info-text { width: auto; float: none; display: block; padding: 15px; }
    img { width: 100%; float: none; display: block; }
  }
}


/* Callout box. */
.callout-box { position: relative; width: 48.6%; @extend .left !optional; padding: 32px; background:url(/images/shard.png) top right no-repeat ; background-color: rgb(51,51,51); @include border-radius(5px); @extend .box-sizing !optional;
  h2 { margin: 0 0 10px 0; color: $white; }
  p { color: $white; }
  .textbox { width: 70%; margin: 0 3% 0 0; @extend .left !optional; backgorund: $white; border: none; }
  .button { width: 27%; margin: 0; 
    &.no-width { width: auto; }
  }
  &.grey { background-color: rgb(153,153,153); }
  h2, p, .textbox, .button { position: relative; z-index: 2; }
  .corner-pic { position: absolute; bottom: 0; right: 0; z-index: 1; }
  &.full-width { overflow: hidden; width: auto; float: none; margin-bottom: 50px; padding: 25px 32px; display: block; 
    .price { float: left; padding: 5px 0 0 0; color: $white; font: normal 1.875em $font-stack-semibold;
      s { font: normal 0.813em $font-stack; }
    }
  }
}
@media handheld, only screen and (max-width: 900px) {
  .callout-box { width: auto; float: none; display: block; padding: 25px; margin: 0 0 20px 0; clear: both; }
}
@media handheld, only screen and (max-width: 500px) {
  .callout-box { 
    .textbox { width: 100%; float: none; display: block; margin: 0 0 10px 0; }
    .button { width: 100%; margin: 0; float: none; display: block; 
      &.no-width { width: auto; }
    }
    .corner-pic { opacity: 0.8; }
  }
}

/*
 * Footer styles.
 */
footer { overflow: hidden; padding-top: 55px; padding-bottom: 55px; background: $royal-blue; 
  h3 { color: $white; margin-bottom: 44px; }
  ul {
    li { margin-bottom: 5px;
      a { color: $white; }
    }
  }
  p { position: absolute; bottom: 0; right: 0; margin: 0; color: $white; }
}
@media handheld, only screen and (max-width: 620px) {
	footer p { position:relative; text-align:center; margin-top:20px; }
}
/* 
 * Product styles. 
 */
 .category-row { width: 93%; margin:0 3.5% 30px 3.5%; }
.category { width: 30%; margin-right:4.5%; @extend .left; 
  &:nth-child(3n+3) { margin-right:0; }
  h2 { width: 100%; display: table; color: $white; line-height: 1.2em; font: normal 1.5em $font-stack; text-align: center; background: $royal-blue; @extend .box-sizing !optional; 
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    span { display: table-cell; padding: 20px; vertical-align: middle; }
  }
}
@media handheld, only screen and (max-width: 580px) {
  .category { width: auto; margin-right:0; margin-bottom: 20px; float: none; display: block; 
    img { width: 100%; }
  }
}
@media handheld, only screen and (max-width: 580px) {
  .category-row { width: auto; margin:0; }
}
.product { text-align: center;
  &.fifth-col { width: 19.1%; margin-right: 0.9%; @extend .left !optional; }
  &:nth-last-child(1) { margin-right: 0 !important; }
  img { margin: 0 auto 20px auto; }
  h4 { margin-bottom: 20px; color: $royal-blue; }
  p {
    strong { color: $red; font-family: $font-stack-bold; }
  }
  .button { float:none; margin-bottom: 0;
    span { padding: 0 5px; display:block; }
  }
  &.white-background { background: $white; }
} 
@media handheld, only screen and (max-width: 767px) {
  .product { 
    &.fifth-col { width: 45%; margin-right: 10%; }
    &:nth-child(2n+2) { margin-right: 0 !important; }
  }
}
@media handheld, only screen and (max-width: 500px) {
  .product { 
    &.fifth-col { width: auto; margin-right: 0; float: none; display:block; }
  }
}

/* Product Detail Styles. */
.left-product-column { width:33.6%; @extend .left !optional; 
  .cycle-slideshow {  
    img { position: relative; z-index: 1; width: 100%; }
  }
  .zoomage { position: absolute; bottom: 20px; right: 20px; z-index: 2; 
    img { width:60px; height: 61px; }
  }
  #adv-custom-pager { overflow: hidden; position: static !important; display:block !important; padding-bottom: 30px; margin-top:20px; margin-bottom: 30px; border-bottom: 5px solid rgb(234,234,234);
    a { width:21.2%; margin-right:5%; @extend .left !optional; border: 1px solid $white; @extend .box-sizing !optional; 
      &.cycle-pager-active { border: 1px solid rgb(221,221,221); }
      img { width: 100%; }
      &:nth-child(4n) { margin-right: 0 !important; }
    }
  }
}
.right-product-column { width:62.3%; @extend .right !optional; 
  h1 { margin-bottom: 10px; }
  ul.inline-list { overflow: hidden; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 5px solid rgb(234,234,234);
    li { margin-right: 5px; font: normal 1.125em $font-stack; 
      em { margin-right: 5px; color: rgb(204,204,204); }
    }
  }
  .product-options { 
    .form-row { margin-bottom:15px; width: 100%; display: table; 
      label { display: table-cell; width:70px; padding-right: 15px; text-align: right; font: normal 1.1258em $font-stack-semibold; text-transform: uppercase; }
      .input { display: table-cell; 
        .textbox { margin:0;  
          &.quantity { max-width: 100px !important; }
        }
      }
      .stock { display: table-cell; 
        span { padding-left: 10px; padding-top: 5px; float: right; display: block; 
          .fa-check { margin-right:5px; color: $royal-blue; font-size: 1.2em; }
          .fa-times { margin-right:5px; color: $red; font-size: 1.2em; }
        }
      }
    }
		.dispensing-options { overflow:hidden;
			.ui-buttonset {
				.radio-outer { overflow:hidden; border:1px solid #ccc; padding:15px 30px 15px 20px; @extend .box-sizing !optional; @include border-radius(5px);
				@include box-shadow(inset 0px -3px 0px 0px rgba(50, 50, 50, 0.1)); margin:0 0 15px 0; 
					img { float:left; width:15%; margin-right:3%; }
					label { float:left; width:72%; cursor:pointer;
						em { display:block; color:$royal-blue; font-size:1.125em; margin-bottom:10px; font-style:normal; }
					}
					input { float:left; width:10%; text-align:right; margin-top:50px; }
					&.is-active { border-color:$royal-blue; background:#eaeaea; box-shadow:none; }
				}
			}
		}
		.upgrade-options { overflow:hidden; margin-bottom:25px;
			.ui-buttonset {
				.checkbox-outer { text-align:center; width:22.75%; float:left; overflow:hidden; border:1px solid #ccc; padding:15px; @extend .box-sizing !optional; @include border-radius(5px); 
				@include box-shadow(inset 0px -3px 0px 0px rgba(50, 50, 50, 0.1)); margin:0 3% 15px 0; 
				/*.ui-helper-hidden-accessible { clip: rect(0px, 0px, 0px, 0px); position:absolute; }*/
					label { cursor:pointer; color:$royal-blue; font-size:1.125em; 
						img { margin:0 auto 10px; max-width:100px; }
					}
					input { display:block; margin:5px auto; }
					&:nth-child(4n) { margin-right:0; }
					&.is-active { border-color:$royal-blue; background:#eaeaea; box-shadow:none; }
				}
			}
		}
  }
  .form { margin-bottom: 30px; }
  .tab { width: auto; margin: 0; border-bottom: 1px solid rgb(153,153,153);
    li {
      a { color: $royal-blue; background: rgb(244,244,244); box-shadow: none; 
        &.selected { color: $white; background: rgb(153,153,153); }
      }
    }
  }
  .tab-content .text-pad { padding:30px 0; }
}
@media handheld, only screen and (max-width: 1140px) {
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer { width:32%; margin-right:2%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(4n) { margin-right:2%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(3n) { margin-right:0; }
}
@media handheld, only screen and (max-width: 900px) {
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer label span { font-size:0.875em; line-height:1.5em; display:block; }
}
@media handheld, only screen and (max-width: 768px) {
  .left-product-column { width: 40%; }
  .right-product-column { width: 55%;
    .callout-box {  
      .price { float: none; display: block; margin-bottom: 10px; text-align: center; }
      .button { width: auto; float: none !important; display: block !important; }
    }
  }
  .right-product-column .tab li a { font-size: 80%; }
	.right-product-column .product-options .dispensing-options .ui-buttonset .radio-outer label { font-size:0.875em; line-height:1.5em; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer { width:48%; margin-right:4%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(4n) { margin-right:4%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(3n) { margin-right:4%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(2n) { margin-right:0; }
}
@media handheld, only screen and (max-width: 580px) {
  .left-product-column { width: auto; float: none; display: block; padding: 0 15px 20px 15px; }
  .right-product-column { width: auto; float: none; display: block; clear: both; padding: 0 15px 20px 15px; font-size: 80%; 
    .tabs { font-size: 100%; }
  }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer { width:32%; margin-right:2%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(4n) { margin-right:2%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(2n) { margin-right:2%; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer:nth-child(3n) { margin-right:0; }
	.right-product-column .product-options .upgrade-options .ui-buttonset .checkbox-outer label img { max-width:60px; }
}

/* 
 * Inner content styles. 
 */
 /* Inner content wrapper and associated lists. */
.inner-content { padding-top: 40px; padding-bottom: 40px; 
  .ninecol ul, 
  .tab-content ul { padding: 0 0 25px 0; }
  .ninecol ul li, 
  .tab-content ul li { margin-bottom: 15px; background: url(/images/li.png) 0px 7px no-repeat; line-height: 1.5; padding: 0 0 0 15px; }
  /* Project and Case Studies. List element uses ul.box-list. For sub pages replicate page.aspx for example. */
  ul.box-list { overflow: hidden;
    li { width: 30%; margin-right: 5%; margin-bottom: 5%; padding: 0; @extend .left !optional; background:none;
      a { padding: 10px; display: block; background: $white; 
        img { margin-bottom: 15px; }
      }
    }
  }
}

 /* Breadcrumbs. */
.breadcrumb { overflow: hidden; display: block; padding-top: 14px; padding-bottom: 14px; background: $royal-blue;
  ul li { margin-right: 10px; @extend .left !optional; list-style: none; color: $white; font: normal 1em $font-stack; 
    a { color: $white; font-family: $font-stack-bold; 
      &:hover { color: $light-grey; }
    }
  }
} 

/* Content image options. */
.image-right { position: relative; width: 100%; max-width: 300px; float: right; margin: 0 0 15px 20px; }
.image-left { position: relative; width: 100%; max-width: 300px; float: left; margin: 0 20px 15px 0; }

/* Multi level side nav. */
ul.side-nav { padding: 0 0 25px 0; border-top: 1px solid $light-grey; 
  .active { background: $white; }
  li { display: block; 
    a { display: block; padding: 10px 0 10px 20px; border-bottom: 1px solid $light-grey; }
    ul li a { padding: 10px 0 10px 40px; }
  }
}
@media handheld, only screen and (max-width: 1140px) {
  ul.side-nav li a { padding: 15px 0 15px 10px; }
}
@media handheld, only screen and (max-width: 620px) {
  .inner-content { 
    ul.box-list { overflow: hidden;
      li { width: auto; margin-right: 0; float: none; display: block; }
    }
  }
}
@media handheld, only screen and (max-width: 530px) {
  .image-right, .image-left { float: none; margin: 0 0 15px 0; width: 100%; max-width: none; }
}

/* 
 * Content features.
 */
 /* Category styles. */
.category-row { overflow: hidden; 
  .threecol, .fourcol { overflow: hidden; position: relative; margin-bottom: 30px; 
    img { width: 100%; }
    h4 { padding-top: 15px; padding-bottom: 15px; margin-bottom:0; text-align: center; line-height: 1.2; }
  }
}

/* Document and link structure. */
.list-content { overflow: hidden; display: block; margin-bottom: 25px; padding: 15px 25px; border: 1px solid rgb(235,235,235); 
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12); @include border-radius(5px); }
.list-row { display: table; width: auto; margin-bottom:10px; color: $royal-blue; font: normal 1.125em $font-stack; @extend .box-sizing !optional;
  &:nth-last-child(1) { margin-bottom:0; }
  a { display: table-cell; padding-top:0px; vertical-align: middle; }
  i { display: table-cell; height: 55px; padding-right: 10px; font-size: 3em; color: rgb(51,51,51); line-height: 1em; }
  .list-left { @extend .left !optional; min-width: 70%; }
  .list-right { @extend .left !optional; width:30%; }
}

/* 4 column image gallery. */
.image-gallery-wrap { position: relative; width: 22.75%; float: left; margin: 0 3% 25px 0; 
  img { width: 100%; margin: 0; padding: 0; }
  &:hover .overlay { display: block; }
}
.gallery-content { padding: 0; min-height: 70px; text-align: center; font-size: 0.813em; background: $light-grey; 
  .text-pad { padding: 12px 15px; }
}
.overlay { position: absolute; right: 0; bottom: 0; top:0; left:0; padding: 15px; display: none; background: rgba(0,0,0,0.5);  i { position: absolute; top:0; right:0; bottom:0; left:0; margin: auto; width:30px; height: 30px; color: $white; } 
} /* For play and view icons. */

/* 3 column video gallery. */
.video-gallery-wrap { position: relative; width: 31%; float: left; margin: 0 3.5% 25px 0; *margin-right: 3.4%; 
  img { width: 100%; margin: 0; padding: 0; }
  &:hover .overlay { display: block; }
}
.video-content { padding: 0; min-height: 70px; text-align: center; font-size: 0.813em; border: 1px solid rgb(235,235,235); border-top:0;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.12); -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
  .text-pad { padding: 12px 15px; }
}

/* Form structure and compnents. */
.form { width: 100%; 
  label {  }
  .form-row { overflow: hidden; }
  .form-cell { width: 48%; @extend .left !optional; margin-right: 4%; *margin-right: 3.5%; }
  .form-info { width: 100%; padding: 10px 0 0 0; font-size: 0.813em; }
}

/* Side documents and links. */
ul.side-row { padding: 0 0 25px 0; 
  li { padding: 15px 0 15px 0; background: $light-grey; 
    a { padding: 0 10px; display: block; 
      i { margin-right: 10px; }
    }
  }
}

/* Side gallery. */
.side-gallery-wrap { overflow: hidden; position: relative; display: block; width: 100%; }
.side-gallery-content { width: 100%; margin-bottom: 10px; padding: 10px 0; display: block; }
@media handheld, only screen and (max-width: 768px) {
  .image-gallery-wrap, .video-gallery-wrap, .image-gallery-wrap.last, .video-gallery-wrap.last { width: 46%; margin: 0 2% 4% 2% !important; }
  
}
@media handheld, only screen and (max-width: 620px) {
  .delete-620 { display: none; }
  .side-gallery-wrap .overlay, .video-gallery-wrap .overlay, .image-gallery-wrap .overlay  { padding: 10px; }
  .form .form-cell { width: auto; display: block; float: none; margin-right: 0; }
  .gallery-content, .video-content { display: none; }
  .video-content { font-size: 0.750em; background: none; 
    .text-pad { padding: 5px 0 0 0; }
  }
  .list-row { font-size: 0.8em;  
    i { margin-right: 10px; }
    .list-left { width: 85%; }
    .list-right { width: 15%; 
      span { display: none; }
    }
  }
}
@media handheld, only screen and (max-width: 450px) {
  .video-gallery-wrap, .video-gallery-wrap.last { width: auto; margin: 0 2% 4% 2% !important; }
}

/* 
 * News Styles.
 */
 /* Search box and category dropdown. */
.search-box { float: right; padding: 10px 20px; background: $white; }
.category-search { @extend .left !optional; margin: 13px 20px 0 0; font-size: 0.875em; 
  i { display: inline; margin-left: 5px; }
}
.category-dropdown-content { overflow: hidden; padding: 30px 0; margin-bottom: 10px; background: $light-grey; 
  ul li { width: 22%; @extend .left !optional; padding: 0 0 0 20px; background: none; }
}
.text-search { @extend .right !optional; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; 
  .textbox { width: 240px; height: 50px; padding: 10px; @extend .left !optional; margin: 0; color: $text-color; border-left: 1px solid $dark-grey; border-top: 1px solid $dark-grey; border-bottom: 1px solid $dark-grey; border-right: 0; }
  .button { width: 109px; height: 36px; @extend .left !optional; margin: 0; padding: 14px 0 0 0; text-align: center; font-size: 0.938em; }
}

/* Main article. */
.full-news-box { position: relative; width: 100%; @extend .left !optional; margin-bottom: 45px; background: $white; }
.image-wrap-full { position: relative; overflow: hidden; width: 30%; @extend .left !optional; 
  img { width: 100%; height: auto; }
}
.text-wrap-full { width: 70%; @extend .left !optional; 
  h2 { margin: 0 0 10px 0; text-align: left; background: none; text-transform: none; }
  .text-wrap-pad { padding: 18px 20px; display: block; 
    p { margin-bottom: 0; font-size: 0.938em; }
  }
}
span.date { margin-bottom: 5px; display: block; } /* Used for main and small articles. */

/* Small articles. */
.small-news { overflow: hidden; position: relative; width: 30%; margin-right: 5%; @extend .left !optional; margin-bottom: 30px; background: $white; 
  .image-wrap { position: relative; overflow: hidden; display: block; max-height: 227px;
    img { width: 100%; }
  }
  .text-wrap { padding: 0; height: 220px; 
    .text-wrap-pad { padding: 18px 20px; display: block; }
    h2 { margin: 0 0 10px 0; word-wrap: hyphenate; word-break: break-word; }
    p { margin-bottom: 0; font-size: 0.813em; line-height: 1.5em; }
  }
}

/* Blog article. */
.blog-article { position: relative; overflow: hidden; width: 100%; @extend .left !optional; margin-bottom: 45px; padding-bottom: 45px; border-bottom: 1px solid $dark-grey; 
  .image-wrap { position: relative; overflow: hidden; width: 30%; @extend .left !optional; 
    img { width: 100%; height: auto; }
  }
  .text-wrap { width: 70%; @extend .left !optional; 
    h2 { margin: 0 0 10px 0; text-align: left; background: none; text-transform: none; }
    hr { margin: 10px 0; }
    .text-pad { padding: 0px 20px 0px 20px; display: block; 
      p { margin-bottom: 15px; }
    }
  }
  span.date { margin-bottom: 5px; display: block; } /* Used for main and small articles. */
  .tags { display: block; font-size: 0.8em; }
  .comments { display: block; font-size: 0.8em; }
}

/* Side category box. */
.category-box { padding: 20px; display: block; width: auto; background:$white ;  
  ul li { list-style: none; display: block; margin-bottom: 15px; font-size: 0.938em; }
}

/* Paging. Can be used site wide. */
.paging { margin: 0 0 30px 0; 
  a { padding: 5px 10px; @extend .left !optional; margin: 0 10px 0 0; font-size: 0.938em; background: $white; 
    &.active { color: $white; background: $dark-grey; }
    &:hover { background: $dark-grey; }
  }
}
@media handheld, only screen and (max-width: 900px) {
  .text-wrap-full .text-wrap-pad p, 
  .small-news .text-wrap p { display: none; }
}
@media handheld, only screen and (max-width: 775px) {
  .text-search .textbox { width: 180px; }
  .category-search { text-indent: -9999px; width: 0; float: left; margin: 12px 10px 0 0; }
}
@media handheld, only screen and (max-width: 620px) {
  .search-box { float: left; padding: 10px; }
  .full-news-box, 
  .small-news { width: 100%; float: none; margin-bottom: 10px; display: block; }
  .image-wrap-full, 
  .small-news .image-wrap { position: relative; overflow: hidden; width: 35%; float:left; display:inline-block; max-height: none; }
  .image-wrap-full img { width: 100%; height: auto; }
  .text-wrap-full, 
  .small-news .text-wrap { width: 65%; height: auto; float:left; display:inline-block; padding: 0; }
  .text-wrap-pad { padding: 15px; display: block; }
  .small-news .text-wrap p, 
  .text-wrap-full p { display: none; }
  .small-news .text-wrap h2, 
  .text-wrap-full h2 { font-size: 1em; margin-bottom: 0; }
  .small-news .text-wrap .date, 
  .text-wrap-full .date { font-size: 0.8em; }
  .small-news .text-wrap p { font-size: 0.938em; }
  .paging a { padding: 2px 7px; font-size: 1em; margin-right: 5px; }
  .category-dropdown-content { float: none; margin-left: 20px; margin-right: 20px; padding-left: 0; padding-right: 0; }
  .blog-article { margin-bottom: 30px; padding-bottom: 30px; 
    .image-wrap { width: auto; float: none; display: block;  
      img { width: 50%; margin: 0 auto 25px auto; }
    }
    .text-wrap { width: auto; float: none; display: block; 
      .text-pad { padding: 0; }
    }
  }
}
@media handheld, only screen and (max-width: 480px) {
  .category-search { display: none; }
  .text-wrap-pad { padding: 10px 15px; display: block; }
  .small-news .text-wrap h2, .text-wrap-full h2 { font-size: 0.8em; margin-bottom: 0; }
  .small-news .text-wrap .date, .text-wrap-full .date { font-size: 0.7em; margin-bottom: 2px; }
  .text-search .textbox { width: 150px; }
}

/* Profile styles. Structure and resposve aspect uses .sixcol. */
.profile { position: relative; margin-bottom: 25px; background: $white; 
  .text-pad { overflow: hidden; padding: 25px 25px 45px 25px; }
}
.profile-header { overflow: hidden; display: block; clear: both; margin: 0 0 25px 0; 
  img { @extend .left !optional; max-width: 100px; margin: 0 15px 0 0; }
  small { display: block; }
}
.profile-email { position: absolute; bottom: 25px; right: 70px; }
.profile-linkedin { position: absolute; bottom: 25px; right: 25px; }

/* Contact styles */
.red { color: red; }
.radio-button { margin: 0 10px; }
.option-wrap { margin-right: 15px; display: inline-block; font-size: 0.9em; }
.side-contact { 
  aside { display: block; margin-bottom: 20px; line-height: 1.2em; }
}
@media handheld, only screen and (max-width: 775px) { 
  .side-contact { font-size: 80%; }
}

/* Comment/review styles. */
.review-outer { width: 100%; background: $light-grey; }
.review { padding: 20px; }
.review-user { padding: 15px 20px; font-style: italic; }

/* FAQ styles. */
.faq-heading { background: $light-grey; cursor: pointer; 
  span { display: block; padding: 10px 15px; 
    .fa-plus-square { margin-left: 10px; @extend .right !optional; line-height: 1; }
    .fa-minus-square { display: none; }
  }
}
.faq-open { background: $light-grey; cursor: pointer; 
  span { display: block; padding: 10px 15px 10px 15px;  
    .fa-plus-square { display: none; }
    .fa-minus-square { margin-left: 10px; @extend .left !optional; line-height: 1; }
  }
}
.faq-content { padding: 0 10px 20px 10px; }
.submit-question { height: auto; padding: 0 0 30px 0; width: 100%; }
@media handheld, only screen and (max-width: 900px) {
  .faq-heading { font-size: 90%; }
}

/* Media centre styles. */
ul.media-sub-category li a { overflow: hidden; padding: 5px 10px 5px 30px; display: block; border-bottom: 1px solid $light-grey; }
.inner-content .ninecol ul.media-filter { overflow: hidden; }
.inner-content .ninecol ul.media-filter li { width: 25%; @extend .left !optional; margin: 0; padding: 0; background: none; 
  a { padding: 10px; background: $light-grey; display: block; margin-right: 1px; }
}
@media handheld, only screen and (max-width: 460px) {
  .inner-content .ninecol ul.media-filter li a { font-size: 80%; }
}

/* Testimonial styles. */
.testimonial { margin-bottom: 30px; 
  .text-pad { overflow: hidden; padding: 32px; background: $white; }
}
.testimonial-left { width: 17%; @extend .left !optional;
  img { border: 1px solid $dark-grey; }
}
.testimonial-right { position: relative; width: 79%; @extend .right !optional;
  i { position: absolute; right: 0; top: 0; }
}
.testimonial h4 { font-size: 1.688em; 
  small { display: block; margin-top: 2px; font-size: 65%; }
} 

/* Video testimonial styles. */
.video-testimonial-wrap { position: relative; margin-bottom: 50px; 
  img { width: 100%; margin: 0; padding: 0; }
}
.video-testimonial-content { text-align: center; background: $white; }
.video-testimonial-content-wrap { padding: 15px; 
  h4 { font-size: 1.313em; 
    small { display: block; margin-top: 2px; font-size: 65%; }
  } 
}
.video-testimonial-wrap a { overflow: hidden; position: relative; display: block; }
.video-testimonial-pad { overflow: hidden; padding: 10px; background: $white; }
@media handheld, only screen and (max-width: 620px) {
  .testimonial-text { font-size: 95%; }
  .testimonial .text-pad { padding: 15px; }
  .profile .text-pad { padding: 25px 0 45px 0; }
}
@media handheld, only screen and (max-width: 530px) {
  .testimonial-left { width: auto; float: none; display: block; margin-bottom: 20px; }
  .testimonial-right { width: auto; float: none; display: block; }
}

/* Print styles. */
@media print {
  .top-nav-row, .main-nav, .list-content, .form, .side-nav, .side-row, .side-gallery-image-wrap, .side-gallery-content, .image-gallery-wrap, .video-gallery-wrap, .dont-print, footer, .breadcrumb, .search-box, .paging, .comment-container, .video-testimonial-wrap, .header-right { display:none; }
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol, .slider-text, .news-title-box, .news-search-box { width: auto; float: none; margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; }
  html, body { font:normal 100% Arial, Helvetica, sans-serif; color: $text-color; background: $white; line-height: 1.5em; }
  .break-page { page-break-after: always; }
  .logo { width: 25%; }
}