<?php
/**
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <title></title>
</head>
<body>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3 class="head-dashboard"><?php echo $this->__('Customer Inquiries') ?></h3></td>
        </tr>
    </table>
</div>
<?php $collections = ""; $collections = $this->getAllInquires(); ?>

<div class="grid">

    <div class="hor-scroll">
    <table cellspacing="0" id="cmsPageGrid_table" class="data">
     <col width="10">
    <thead>
    <tr class="headings">
            <th><span class="nobr"><a class="not-sort" title="asc" name="title">Sr#</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="desc" name="identifier">First Name</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="asc" name="root_template">Last Name</a></span></th>
        	<th><span class="nobr"><a class="not-sort" title="asc" name="creation_time">Email</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="asc" name="is_active">Company Name</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="asc" name="creation_time">Location</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="asc" name="creation_time">Phone</a></span></th>
            <th><span class="nobr"><a class="not-sort" title="asc" name="update_time">Created Date</a></span></th>
            <th class=" no-link last"><span class="nobr">Action</span></th>
        </tr>
      </thead>
      <tbody>
      <?php
	if($collections->count() != "")
	{
	?>
      	<?php 
			$i = 1;
			foreach($collections as $item)
			{
				 $IsCreated = $this->getIsCreated($item['email']);
		?>

      	<tr class="even pointer"> 
			<td class="" align="center"><?php echo $i;//$this->getIsCreated();?></td>
            <td class="a-left "><?php echo $item['firstname'];?></td>
            <td class="a-left "><?php echo $item['lastname'];?></td>
            <td class="a-left "><?php echo $item['email'];?></td>
            <td class="a-left "><?php echo $item['company'];?></td>
            <td class="a-left "><?php echo $item['location'];?></td>
            <td class="a-left "><?php echo $item['phone'];?></td>
            <td class="a-left "><?php echo date("F j, Y",strtotime($item['createddt']));?></td>
            <td class="a-left ">&nbsp;
			

			<a href="<?php echo $this->getUrl("inquiry/index/del/delid/".$item['inquiryid'])?>" onclick="javascript:return confirm('Are  you sure to delete this Inquire?')"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)."adminhtml/default/default/images/icon_btn_delete.gif";?>" alt="Delete" title="Delete" /></a>&nbsp;&nbsp;
           
				<a href="<?php echo Mage::helper("adminhtml")->getUrl("inquiry/manage_inquiry/view/delid/".$item['inquiryid']);?>">
				<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)."adminhtml/default/default/images/fam_page_white.gif";?>" alt="View" title="View" /></a>
  
        </tr>
       	<?php  $i++;
			}
	}
	else
		echo "<tr><Td colspan='8' align='center'>No records found.</td></tr>";
?>
      </tbody>
	</table>
   	</div>

</div>

</body>
</html>
