#facebox {
  top: 0;
  left: 0;
  z-index: 10000;
  text-align: left;
  position:absolute;
}

#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  /*-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);*/
}

#facebox .popup .cta 
{
    margin-right:10px; 
}

#facebox table td 
{
    padding:0 30px 10px 0; 
}

#facebox .content {
  display:table;
  width: auto;
  padding: 25px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox a.closefb{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  /*background:#fff;*/
  text-indent:0;
}
#facebox a.closefb img{
  opacity:0.5;
}
#facebox a.closefb:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 9999;
  opacity:0.5!important;
}

.basket-popup{
  position:fixed;
  top: 30px!important;
  left: 56%!important;
  background-color:transparent!important;
}


#facebox .info-popup-fail{
  background-color:#fff;
  font-size:20px;
  color:#000;
  text-align:left;
  padding:30px 30px 30px 54px!important;
  border:3px #666 solid;
  background-image: url("/images/ecommerce/failure.png")!important;
  background-position: 10px center!important;
  background-repeat: no-repeat!important;
}

#facebox .info-popup-success{
  background-color:#fff;
  font-size:20px;
  color:#000;
  text-align:left;
  padding:30px 30px 30px 54px!important;
  border:3px #666 solid;
   background-image: url("/images/ecommerce/success.png")!important;
  background-position: 10px center!important;
  background-repeat: no-repeat!important;
}

#facebox .info-popup-alert{
  background-color:#fff;
  font-size:20px;
  color:#000;
  text-align:left;
  padding:30px 30px 30px 54px!important;
  border:3px #666 solid;
   background-image: url("/images/ecommerce/alert.png")!important;
  background-position: 10px center!important;
  background-repeat: no-repeat!important;
}