<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/* @var $this Mage_Wishlist_Block_Customer_Wishlist_Item_Column_Cart */
/* @var Mage_Wishlist_Model_Item $item */
$item = $this->getItem();
$product = $item->getProduct();
?>
<li class="cart-qty" style="list-style-type:none;">
<div class="cart-cell">
   

<div class="add-to-cart-alt">
<?php if ($item->canHaveQty() && $item->getProduct()->isVisibleInSiteVisibility()): ?>
 <span class="label" style="float: left;padding-right: 5px;"><?php echo $this->__('Qty:') ?> </span> 
 <div class="box" style="float: left;padding-right: 5px;"><input type="text" class="input-text qty validate-not-negative-number" name="qty[<?php echo $item->getId() ?>]" value="<?php echo $this->getAddToCartQty($item) * 1 ?>" /></div>
<?php endif; ?>
<?php /* if ($product->isSaleable()): ?>
    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" onclick="addWItemToCart(<?php echo $item->getId()?>);" class="button btn-cart"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
<?php else: ?>
    <?php if ($product->getIsSalable()): ?>
        <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
    <?php else: ?>
        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
    <?php endif; ?>
<?php endif; */ ?>
</div>
<?php foreach($this->getSortedChildren() as $childName):?>
    <?php echo $this->getChildHtml($childName, false);?>
<?php endforeach;?>
<?php /* if ($product->isVisibleInSiteVisibility()): ?>
    <p><a class="link-edit" href="<?php echo $this->getItemConfigureUrl($item) ?>"><?php echo $this->__('Edit') ?></a></p>
<?php endif */ ?>
</div>
    
 <!--   <div class="wishlist-btn">
     <?php if(Mage::getStoreConfig('quotation/quotation_gp/quotation_enabled')==1): ?>
      <button type="button" title="<?php echo $this->__('Request For this product') ?>" onclick="setLocation('<?php echo $this->helper('wishlist')->getWproductInquiry($item) ?>')" class="button btn-cart"><span><span><?php echo $this->__('Request For this product') ?></span></span></button>
	   <?php endif;?>
   </div>    -->
    
    
</li>
