<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/* @var Mage_Wishlist_Model_Item $item */
$item = $this->getItem();
$product = $item->getProduct();
?>
<li class="details " style="list-style-type:none;">
<h3><a href="<?php echo $this->getProductUrl($item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>"><?php echo substr($this->escapeHtml($product->getName()),0,60) ?></a></h3>
<!--div class="description std">
    <div class="inner"><?php echo $this->escapeHtml($this->stripTags($product->getShortDescription()));?></div>
 </div-->
<!--textarea name="description[<?php echo $item->getWishlistItemId() ?>]" rows="3" cols="5" onfocus="focusComment(this)" onblur="focusComment(this)" title="<?php echo $this->__('Comment') ?>"><?php echo ($this->escapeHtml($item->getDescription())) ?></textarea-->
<?php /* if($this->getSortedChildren()): ?>
    <div class="item-manage">
    <?php foreach($this->getSortedChildren() as $childName):?>
        <?php echo $this->getChildHtml($childName, false);?>
    <?php endforeach;?>
    </div>
<?php endif; */ ?>
<div class="additional-info">
<ul>
	<?php if($product->getSku()!= '') : ?>
		<li class="label"><strong><?php echo $this->__('SKU:')?></strong></li>
		<li class="txt"><?php echo $product->getSku(); ?></li>
	<?php endif; ?>
	<?php if($product->getName()!= '') : ?>
		<li class="label"><strong><?php echo $this->__('Product:')?></strong></li>
		<li class="txt"><?php echo $product->getName(); ?></li>
	<?php endif; ?>
	<?php if($product->getType()!= '') : ?>
		<li class="label"><?php echo $this->__('Type:')?></li>
		<li class="txt"><?php echo $product->getType(); ?></li>
	<?php endif; ?>

	<?php if($product->getColor()!= '') : ?>
		<li class="label"><?php echo $this->__('Color:')?></li>
		<li class="txt"><?php echo $product->getAttributeText('color'); ?></li>
	<?php endif; ?>
	<?php if($product->getPiecesPerPallet()!= '') : ?>
		<li class="label"><?php echo htmlentities($this->__('Pieces per pallet:')) ?></li>
		<li class="txt"><?php echo $product->getPiecesPerPallet(); ?></li>
	<?php endif; ?>

<!-- 	<?php	$config_wishlist_array = array();
		$data['add_wishlist_item'] = $this->getWishlistItems();		
		foreach ($data['add_wishlist_item'] as $itemId => $qty) {
			$item = Mage::getModel('wishlist/item')
				->loadWithOptions($itemId, 'info_buyRequest');
			if ($item->getId()) {
				$full_wishlist = $item->getBuyRequest()->toArray();
				$config_wishlist_array[$full_wishlist['product']] = $full_wishlist['upgrade'];				
			}
		}	?>
		<li class="label"><?php echo htmlentities($this->__('Options:')) ?></li>
		<li class="txt"><?php echo print_r($config_wishlist_array); ?></li>



		<li class="label"><?php echo $this->__('Dispensing:')?></li>
		<li class="txt"><?php echo $product->getAttributeText('dispensing'); ?></li>
 -->


		<?php $options = $this->getOptionList(); 
echo $options;
		?>

       <?php if ($options): ?>

          <li class="label"><?php echo $this->__('Options Details'); ?></li>
          
              <?php foreach ($options as $option): ?>
              <li class="label"><?php echo $this->escapeHtml($option['label']) ?></li>
              <li class="txt">
                  <?php if (is_array($option['value'])): ?>
                  <?php echo nl2br(implode("\n", $option['value'])) ?>
                  <?php else: ?>
                  <?php echo $option['value'] ?>
                  <?php endif; ?>
              </li>
              <?php endforeach; ?>

	<?php endif ?>
	
</ul>
</div>
</li>
