<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
/* @var $this Mage_Wishlist_Block_Customer_Wishlist */
?>
<section class="white-panel container inner-content">
    <div class="row">
<?php
//echo Mage::getStoreConfig('quotation/quotation_gp/quotation_enabled');
 if ($this->helper('wishlist')->isAllow()) : ?>
    <div class="my-wishlist">
        <div class="page-title title-buttons">
            <?php if ($this->helper('wishlist')->isRssAllow() && $this->hasWishlistItems()): ?>
                <a href="<?php echo $this->helper('wishlist')->getRssUrl($this->getWishlistInstance()->getId()); ?>" class="link-rss"><?php echo $this->__('RSS Feed') ?></a>
            <?php endif; ?>
            <div  class ="w-itile">    
				<?php if(Mage::getStoreConfig('quotation/quotation_gp/quotation_enabled')==1): ?>
					<h1>Confirm Details</h1>
					 </div>
                <div class="merklist">                   
                     <span class="mrk-title"><a onclick="window.print()"><?php echo $this->__('Print Quote'); ?></a></span>
                    
                 </div> 
				<?php else:?>
					<h1>Wishlist</h1>
					</div>
                <div class="merklist">                   
                     <span class="mrk-title"><a onclick="window.print()"><?php echo $this->__('Print Wishlist'); ?></a></span>
                    
                 </div> 
				<?php endif;?>	            
        </div>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update', array('wishlist_id' => $this->getWishlistInstance()->getId())) ?>" method="post">
            <?php echo $this->getChildHtml('top'); ?>
            <fieldset>
                <?php if ($this->hasWishlistItems()): ?>
                        <?php echo $this->getBlockHtml('formkey');?>
                        <?php $this->getChild('items')->setItems($this->getWishlistItems()); ?>
                        <?php echo $this->getChildHtml('items');?>
                        <script type="text/javascript">decorateTable('wishlist-table')</script>
                <?php else: ?>
                    <p class="wishlist-empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
                <?php endif ?>
                <?php if(Mage::getStoreConfig('quotation/quotation_gp/quotation_enabled')==1): ?>
                <div class="all_item" style="float: right;margin-top: 10px;">
                    <button type="button" title="<?php echo $this->__('Inquire on all items') ?>" onclick="setLocation('<?php echo $this->getUrl('inquiry/index') ?>')" class="button btn-cart"><span><span><?php echo $this->__('Confirm Details') ?></span></span></button>
                </div>  
				<?php endif;?>
			<?php /* ?>    
                <div class="buttons-set buttons-set2">
                 
                    
                    <?php echo $this->getChild('control_buttons')->toHtml();?>
                </div>
			<?php */ ?>
            </fieldset>
        </form>

        <script type="text/javascript">
        //<![CDATA[
        var wishlistForm = new Validation($('wishlist-view-form'));
        function addAllWItemsToCart() {
            var url = '<?php echo $this->getUrl('*/*/allcart', array('wishlist_id' => $this->getWishlistInstance()->getId())) ?>';
            var separator = (url.indexOf('?') >= 0) ? '&' : '?';
            $$('#wishlist-view-form .qty').each(
                function (input, index) {
                    url += separator + input.name + '=' + encodeURIComponent(input.value);
                    separator = '&';
                }
            );
            setLocation(url);
        }
        //]]>
        </script>
    </div>
    <?php echo $this->getChildHtml('bottom'); ?>
    <!--div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div-->
<?php endif ?>
</div>
</section>