<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
   <!-- <div class="form-search">
        <label for="search"><?php echo $this->__('Search:') ?></label>-->
        <input id="search" type="textbox" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>"  class="textbox" />
        <button class="button" type="submit" title="<?php echo $this->__('Search') ?>" class="button"><i class="fa fa-search"></i></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>


       <!--   <input type="textbox" placeholder="Enter search term&hellip;">
                    <a class="button" href="#"><i class="fa fa-search"></i></a> -->



        <!--<script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Enter search term...') ?>');
            searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>-->

        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Enter search term...') ?>');
            searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>

   <!-- </div>-->
</form>

<?php echo Mage::helper('searchautocomplete')->getStyle(); ?>
