
@font-face {
    font-family: 'PTSansRegular';
    src: url('/fontface/PTS55F-webfont.eot');
    src: url('/fontface/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTS55F-webfont.woff') format('woff'),
         url('/fontface/PTS55F-webfont.ttf') format('truetype'),
         url('/fontface/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansItalic';
    src: url('/fontface/PTS56F-webfont.eot');
    src: url('/fontface/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTS56F-webfont.woff') format('woff'),
         url('/fontface/PTS56F-webfont.ttf') format('truetype'),
         url('/fontface/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('/fontface/PTS75F-webfont.eot');
    src: url('/fontface/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTS75F-webfont.woff') format('woff'),
         url('/fontface/PTS75F-webfont.ttf') format('truetype'),
         url('/fontface/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('/fontface/PTS76F-webfont.eot');
    src: url('/fontface/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTS76F-webfont.woff') format('woff'),
         url('/fontface/PTS76F-webfont.ttf') format('truetype'),
         url('/fontface/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('/fontface/PTC55F-webfont.eot');
    src: url('/fontface/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTC55F-webfont.woff') format('woff'),
         url('/fontface/PTC55F-webfont.ttf') format('truetype'),
         url('/fontface/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('/fontface/PTC75F-webfont.eot');
    src: url('/fontface/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTC75F-webfont.woff') format('woff'),
         url('/fontface/PTC75F-webfont.ttf') format('truetype'),
         url('/fontface/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('/fontface/PTN57F-webfont.eot');
    src: url('/fontface/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTN57F-webfont.woff') format('woff'),
         url('/fontface/PTN57F-webfont.ttf') format('truetype'),
         url('/fontface/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('/fontface/PTN77F-webfont.eot');
    src: url('/fontface/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontface/PTN77F-webfont.woff') format('woff'),
         url('/fontface/PTN77F-webfont.ttf') format('truetype'),
         url('/fontface/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

