.modalBackground { background-color: #000000; filter: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7; }
.modalPopup { background-color: #ffffff; padding: 0; -moz-box-shadow: 3px 3px 4px #000; -webkit-box-shadow: 3px 3px 4px #000; box-shadow: 3px 3px 4px #000; /* For IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 5.5 - 7 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); position: relative; *width: 740px; }
.scrollarea { width: 700px; overflow: scroll; overflow-x: hidden; overflow-y: auto; padding: 20px; background-color: #f4f4f4; }
.addarea { padding: 15px; }
.actionbuttons { padding: 20px; display: block; text-align: left; vertical-align: middle; overflow: hidden; }
.actionbuttons .cta { margin-left: 10px; float: right; }
a.close { display: inline-block; position: absolute; top: 20px; right: 20px; width: 21px; height: 21px; background-image: url(/images/ecomm/delete.gif); background-repeat: no-repeat; background-position: left top; text-indent: -9999px; }
a:hover.close { background-position: left bottom; }
.modalscroller { width: 685px; margin: 0; }
.modalscroller td.label { text-align: right; padding: 0; border: 0; vertical-align: middle; }
.modalPopup h2 { padding: 20px; margin: 0; }
.modalPopup h3 { font-size: 15px; font-weight: bold; }
.drag-handle { /*Overwrite default drag handle bar background color with below*/ background-color: #03277C; }
?: #interVeil { /*CSS for veil that covers entire page while modal window is visible*/ position: absolute; background: black url(/images/blackdot.gif); width: 0px; left: 0; top: 0; z-index: 5; visibility: hidden; filter: progid:DXImageTransform.Microsoft.alpha(opacity=80); opacity: 0.8; }
.modalPopup hr { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #ddd -moz-use-text-color -moz-use-text-color; border-image: none; border-right: 0 none; border-style: solid none none; border-width: 1px 0 0; display: block; height: 1px; margin: 1em 0; padding: 0; }
