/*table style*/
table.generic-table {width:100%; margin-bottom:25px;}
table.generic-table tr td {padding:10px; vertical-align:top;}
table.generic-table tr td.img {padding-right:0; vertical-align:top;}
table.generic-table tr td p {padding:0; margin:0 0 5px 0;}
table.generic-table tr td .textbox {padding:10px 18px; width:220px;}
table.generic-table tr td .textbox-dd {background:url(/images/ecomm/textboxbg.jpg) top left no-repeat #FFF; border:1px solid #d6d6d6; text-transform:uppercase; color:#aeaeae; padding:10px 18px; width:258px;}
table.generic-table tr td .textbox-at {background:url(/images/ecomm/textboxbg.jpg) top left no-repeat #FFF; border:1px solid #d6d6d6; text-transform:uppercase; color:#aeaeae; padding:10px 18px; width:120px;}
table.generic-table a.button {background:url(/images/ecomm/buttonbg2.jpg) right no-repeat; padding-right:40px; float:right;display:inline-block;}
table.generic-table a.button:hover {background:url(/ecomm/images/buttonbg2hover.jpg) right no-repeat; padding-right:40px;}
table.generic-table tr td a.button-at { display:inline-block;height:27px; float:right; background:url(/images/ecomm/buttonbg.jpg) left top repeat-x;border:1px solid #1b7c7b;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; display:block; padding:8px 12px 0 12px; color:#eee; text-transform:normal; text-shadow:0px 1px 0px #0e6969;}
table.generic-table tr td a.button-at:hover {height:28px; padding:7px 12px 0 12px; color:#fff;}
table.generic-table tr td a.button-at:active {height:27px; background:url(/images/ecomm/buttonbghover.jpg) left top repeat-x; padding:8px 12px 0 12px; color:#eee; text-shadow:0px -1px 0px #0e6969;}
table.generic-table tr.table-heading td {padding:0px 0 10px 0;}
table.generic-table tr.table-heading {background:#eaeaea; text-align:left;}
table.generic-table tr.table-heading strong { padding:15px 20px 5px 20px; display:block; width:100%; font-weight:normal; font-size:15px;font-family: Arial;}
table.full-width {width:100%;}
table.generic-table tr.table-heading2 {}
table.generic-table tr.table-heading2 strong { padding:10px 0px 0px 0px; display:block; width:100%; font-weight:normal; font-size:12px; font-style:italic; line-height:1;}
table.generic-table tr.table-heading3 {background:#efefef; text-align:left;}
table.generic-table tr.table-heading3 strong { padding:15px 10px 5px 10px; display:block; width:100%; font-weight:normal; font-size:15px;font-family: 'FuturaLtBTLight', Arial;}
table.generic-table tr td.padleft {padding:0 40px 10px 20px;}
table.generic-table tr.table-heading3 td.padleft {padding:0 20px 10px 10px;}
table.align-top tr td {vertical-align:top;}

table.contact-table {background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 0 rgba(50, 50, 50, 0.05);
    margin: 0;
    padding: 0;}
table.blank-table {
    margin-bottom: 25px;
    width: 100%;
}
table.blank-table tr td {
    padding: 10px 0 10px 20px;
    text-align: right;
    vertical-align: top;
}
table.blank-table tr td p {
    margin: 0 0 5px;
    padding: 0;
}
table.blank-table tr td .textbox {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #C2C0BE;
    color: #666666;
    font-size: 13px;
    margin-top: 3px;
    padding: 10px 18px;
    width: 240px;
}
table.blank-table a.button1 {
    background: url("/images/ecomm/buttonbg.jpg") repeat-x scroll left top transparent;
    border: 1px solid #1B7C7B;
    border-radius: 5px 5px 5px 5px;
    color: #EEEEEE;
    display: inline-block;
    float: right;
    height: 27px;
    padding: 8px 12px 0;
    text-shadow: 0 1px 0 #0E6969;
}
table.blank-table a.button1:hover {
    color: #FFFFFF;
    height: 28px;
    padding: 7px 12px 0;
}
table.blank-table a.button1:active {
    background: url("/images/ecomm/buttonbghover.jpg") repeat-x scroll left top transparent;
    color: #EEEEEE;
    height: 27px;
    padding: 8px 12px 0;
    text-shadow: 0 -1px 0 #0E6969;
}
table.blank-table a.button {
    background: url("/images/ecomm/buttonbg2.jpg") no-repeat scroll right center transparent;
    display: inline-block;
    float: right;
    margin-left: 10px;
    padding-right: 40px;
}
table.blank-table a.button:hover {
    background: url("/images/ecomm/buttonbg2hover.jpg") no-repeat scroll right center transparent;
    padding-right: 40px;
}
table.noborder td.continue-cell {
    border-top: 1px solid #DDDDDD;
    padding: 20px 0;
}
table.noborder td.continue-cell h3 {
    padding-bottom: 15px;
}
table.blank-table .viewall {
    background: url("/images/ecomm/viewall.jpg") no-repeat scroll right center #FFFFFF;
    float: right;
    margin-left: 15px;
    padding: 4px 22px 3px 3px;
}
table.blank-table .cta, table.blank-table .cta2, table.blank-table .cta3 {
    float: right;
    margin: 0 0 0 15px;
}
table.contact-table {
    margin-bottom: 20px;
}
table.contact-table tr td {
    padding: 10px;
}
table.contact-table .button4 {
    float: right;
}
/*table.contact-table a.button {
    background: url("/images/buttonbg2.jpg") no-repeat scroll right center transparent;
    float: right;
    padding-right: 40px;
}
table.contact-table a.button:hover {
    background: url("/images/buttonbg2hover.jpg") no-repeat scroll right center transparent;
    padding-right: 40px;
}*/
table.contact-table tr td a.button-at {
    background: url("/images/buttonbg.jpg") repeat-x scroll left top transparent;
    border: 1px solid #1B7C7B;
    border-radius: 5px 5px 5px 5px;
    color: #EEEEEE;
    display: block;
    float: right;
    height: 27px;
    padding: 8px 12px 0;
    text-shadow: 0 1px 0 #0E6969;
}
table.contact-table tr td a.button-at:hover {
    color: #FFFFFF;
    height: 28px;
    padding: 7px 12px 0;
}
table.contact-table tr td a.button-at:active {
    background: url("/images/buttonbghover.jpg") repeat-x scroll left top transparent;
    color: #EEEEEE;
    height: 27px;
    padding: 8px 12px 0;
    text-shadow: 0 -1px 0 #0E6969;
}
table.contact-table tr.table-heading {
    background: none repeat scroll 0 0 #EAEAEA;
    text-align: left;
}
table.contact-table tr.table-heading strong {
    display: block;
    font-family: Arial;
    font-size: 15px;
}
table.full-width {
    width: 100%;
}
table.contact-table tr.table-heading a {
    float: right;
}
table.full-width {
    width: 100%;
}
table.contact-table tr.table-heading2 {
}
table.contact-table tr.table-heading2 strong {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0 0;
    width: 100%;
}
table.contact-table tr.table-heading3 {
    background: none repeat scroll 0 0 #EFEFEF;
    text-align: left;
}
table.contact-table tr.table-heading3 strong {
    display: block;
    font-family: 'FuturaLtBTLight',Arial;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 10px 5px;
    width: 100%;
}
table.contact-table tr td.darkcell {
    background: none repeat scroll 0 0 #F4F4F4;
}
table.contact-table tr.table-heading3 td.padleft {
    padding: 0 20px 10px 10px;
}
table.align-top tr td {
    vertical-align: top;
}

/*New Styles*/
.basket-left { width:435px; float:left; overflow:hidden; padding:10px 10px 10px 10px; }
.basket-right { width:420px; float:right; padding: 10px; /*border:1px dotted #BBBBBB; height:200px; margin-top:10px;*/}
.basket-right-top { width:310px; float:right; overflow:hidden; padding:65px 20px 20px 105px; border:1px dotted #BBBBBB; height:200px; margin-top:10px;}
.basket-right .main-login td {text-align:center;}
.basket-left-top {border:1px dotted #BBBBBB!important; padding:20px 20px 5px 20px; height:260px;}

.marg-right { margin-right:30px; }

td.spacer { height:15px; }

.error {/*display:block!important;*/ padding-top:3px; font-style:italic; color:#bf292a!important;}

.basket-popup{
  position:fixed;
  top: 30px!important;
  left: 56%!important;
  background-color:transparent!important;
}

.prorating {display:block; padding:2px 0 10px 0; clear:both; height:18px;}

.basket-left .contentholder {margin-top:-10px;}

.readytobuy {padding-left:12px; font-size:24px;}

.totalprice {float:right; color:#fff; display:inline-block; padding:9px 0 0 20px;}

/* Basket Styles */
.basket h1 { width:65%; float:left; display:inline-block; }
.basket .button { width:20%; float:right; display:inline-block; }
.arrow-button { height:41px; padding:0 0 0 30px; background:url(/images/ecommerce/arrow-left.jpg) left no-repeat; display:inline-block; float:right; }
.arrow-button span { height:33px; padding:8px 30px 0 0; display:block; background:url(/images/ecommerce/arrow-right.jpg) right no-repeat; color:#fff; font:normal 17px "goudy_trajan_mediummedium", Arial, Helvetica, sans-serif; }
.arrow-button:hover span { color:#ddd; }
.continue-button { width:30%; float:left; display:inline-block; background:#e2e2e1; color:#777776; padding:10px 0; text-align:center; font:normal 15px "goudy_trajan_mediummedium", Arial, Helvetica, sans-serif; }
.pay-button { width:20%; float:right !important; display:inline-block !important; margin-left:5%; }
.basket-table { width:100%; font-size:0.938em; overflow:hidden; margin-bottom:20px; }
.basket-header { background:#e2e2e1; width:100%; padding:15px 0; color:#666; overflow:hidden; font-weight:normal; font: 1.2em "PTSansBold",Arial,Helvetica,sans-serif; }
.basket-table span { padding:0 15px; display:block;  }
.basket-table strong { font-weight:normal; font: 1.2em "PTSansBold",Arial,Helvetica,sans-serif;}
.basket-table h3 span.small {display:inline; font:normal 0.7em  Arial, Helvetica, sans-serif; padding-left:0;}
.basket-row .textbox-multiline-outer {padding:10px;}
.text-right { text-align:right; }
.col-80 { width:80%; float:left; display:inline-block; }
.col-60 { width:60%; float:left; display:inline-block; }
.col-50 { width:50%; float:left; display:inline-block; }
.col-40 { width:40%; float:left; display:inline-block; }
.col-20 { width:20%; *width:19%; float:left; display:inline-block; }
.col-10 { width:10%; float:left; display:inline-block; }
.basket-row { background:#fafafa; padding:10px 0; overflow:hidden; border-bottom:1px solid #cdccca; border-left:1px solid #cdccca; border-right:1px solid #cdccca; }
.border-top { border-top:1px solid #cdccca; }
.basket-row img { float:left; margin-right:15px; border:1px solid #eeeeee; }
.basket-row p { font-size:1.313em; margin-bottom:15px; color:#666666; }
.basket-row p small { font-size:0.9em; display:block; }
.basket-row a { font-style:italic; }
.basket-row .fivecol { width: 39.45%; }
.quantity { background:#fff; border:1px solid #eee; padding:3px 5px; display:block; width:30px; color:#666; font-size:0.938em; margin-bottom:2px; }
.update { font-size:0.8em; padding:3px 15px 3px 0; background:url(/images/ecommerce/update.png) right no-repeat; margin-bottom:2px; }
.remove { font-size:0.8em; padding:3px 15px 3px 0; background:url(/images/ecommerce/remove.png) right no-repeat; }
.total-row { width:60%; float:right; padding:15px 0; overflow:hidden; }
.sub-total { font-weight:bold; border-top:1px dashed #cdccca; color:#666; }
.promo-codes { width:45%; margin-right:10%; float:left; display:inline-block; }
.promo-box { background:#fafafa; padding:12px; overflow:hidden; border:1px solid #cdccca; margin-bottom:10px; }
.promo-box p { margin-bottom:0px; padding:0px; float:left; display:inline-block; width:70%; }
.promo-box .textbox-outer { width:60%; height:auto; float:left; display:inline-block; background:#fafafa; padding:10px; border:1px solid #cdccca; }
.promo-box .textbox { display:block; padding:0px; background:#fafafa; border:none; width:80%; margin:0px;  }
.bottom-align { margin-top:32px; }
.promo-box .update-button { width:25%; float:right; display:inline-block; background:#3b3b3b; text-align:center; padding:10px 0; color:#fff;font:normal 15px "goudy_trajan_mediummedium", Arial, Helvetica, sans-serif; }
/*.cards { width:45%; padding:20px 0 0 0; float:right; display:inline-block; margin-bottom:30px; min-height:80px; }
.cards img { width:100%; }*/
.basket-promo { width:30%; float:left; display:inline-block; margin-right:5%; overflow:hidden; margin-top:20px; }
.basket-promo .text-pad { display:block; overflow:hidden; padding:15px; border:1px dashed #b2b2b2; min-height:183px; }
.basket-promo h3 { text-align:center; font-size:25px; }
.basket-promo h3 span { text-align:center; display:block; font-size:16px; }
.basket-promo .promo-holder { overflow:hidden; }
.basket-promo .promo-holder2 { overflow:hidden; text-align:center !important; }
.basket-promo .prod-thumb { float:left; margin-right:10px; }
.basket-promo .cta3 { float:right; }
.basket-promo p { color:#666; margin-bottom:5px; padding:0px; }
.basket-promo p.small-text { color:#909995; margin-bottom:5px; padding:0px; font-size:13px; }
.textbox-multiline-outer { width:50%; height:auto; float:right; display:block; background:#fafafa; margin-top:10px; border:1px solid #cdccca; padding:20px; }
.textbox-multiline { display:block; padding:0px; background:#fafafa; border:none; width:100%; margin:0px; font:normal 1em Arial, Helvetica, sans-serif;  }

.accordion h3 {
    height: 40px;
    line-height: 40px;
    margin: 0 0 15px;
    padding: 0 0 0 10px;
}
.accordion .collapsed h3 {    background: url("/images/ecommerce/advanced.png") no-repeat scroll 916px center #F4F4F4;}
.accordion .expanded h3 {    background: url("/images/ecommerce/advanced2.png") no-repeat scroll 916px center #333333;    color: #FFFFFF;}

.accordion .collapsed h3:hover {background-color:#eaeaea;}
.accordion .expanded h3:hover {background-color:#333333;}

.wishlistbk {
    background-color: #EFEFEF;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px;
}
.wishlistbk p {font-size:15px; margin-bottom:0;}

@media handheld, only screen and (max-width: 750px) {
.basket h1 { font-size:2em; }
.basket .button { font-size:1.2em; }
.basket-row p { font-size:100%; }
}
@media handheld, only screen and (max-width: 620px) {
.promo-codes, .cards { width: 100%; float: none; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
.total-row, .basket h1, .basket .button { width:100%; float:none; }
.continue-button { width:100%; float:none; margin:20px 0; }
.pay-button { width:100%; float:none; display:block; margin-left:0%; }
}
@media handheld, only screen and (max-width: 500px) {
.basket-table { font-size:80%; }
.basket-row img { width:30%; margin-right:7px; }
.basket-table .col-60 { width:50%; float:left; display:inline-block; }
.basket-table .col-20 { width:25%; float:left; display:inline-block; }
}

/* Sign In Styles */
.logo-right { text-align:left; padding:10px 0; }
.logo-right img { float:right; *margin-top:-70px; }
.sign-in { width:47%; float:left; display:inline-block; border:1px solid #c9c8c5; }
.sign-in .text-pad { padding:30px 34px; overflow:hidden; }
.new-customers { width:47%; float:right; display:inline-block; border:1px solid #c9c8c5; text-align:center; min-height:320px; }
.new-customers .text-pad { padding:111px 34px 30px 34px; overflow:hidden; }
.new-customers .button { width:100%; max-width:220px; font-size:1.1em; margin:0 auto; float:none; }
.sign-in p { margin-bottom:4px; padding:0px; }
.sign-in .textbox-outer { height:auto; display:block; background:#fafafa; padding:13px 10px; border:1px solid #cdccca; margin-bottom:10px; overflow:hidden; }
.sign-in .textbox { display:block; background:#fafafa; border:none; padding:0px; width:100%; margin:0px;  }
.sign-in .forgot-password { display:block; margin-bottom:10px; }
.sign-in .button { float:right;  }
@media handheld, only screen and (max-width: 750px) {
.sign-in, .new-customers { font-size: 80%; }
h1.logo-right { font-size:2em; }
h1.logo-right img { width:70px; }
}
@media handheld, only screen and (max-width: 620px) {
.sign-in, .new-customers { width: 100%; float: none; margin-bottom:20px; }
.sign-in .text-pad, .new-customers .text-pad { padding:20px 20px; }
}

/* Basket Process Styles */
.step { width:33.3%; float:left; display:inline-block; text-align:center; font-style:italic; margin-bottom:25px; }
.number { background:#d5d5d5; color:#fff; overflow:hidden; width:30px; height:25px; font-weight:bold; padding:5px 0 0 0; display:block; margin:0 auto 8px auto; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.step .active { background:#464646; }
.step p { color:#d5d5d5; margin:0px; font-size:0.750em; font-style:italic; }
.step p.active { background:none; color:#949494; }
.step-half { background:url(/images/ecommerce/step-half.png) center 13px no-repeat; }
.step-complete { background:url(/images/ecommerce/step-complete.png) center 13px repeat-x; }
.step-grey { background:url(/images/ecommerce/step-grey.png) center 13px repeat-x; }
@media handheld, only screen and (max-width: 400px) {
.step p { color:#666666; margin:0px; font-size:0.7em; font-style:italic; }
}

/* Basket Form Styles */
.generic-form { width:100%; overflow:hidden; }
.generic-form .form-row { width:100%; overflow:hidden; margin-bottom:24px; }
.generic-form .form-left { width:21%; margin-right:4%; display:inline-block; float:left; padding:7px 0 0 0; text-align:right; color:#666666; font-size:17px; }
.generic-form .form-middle { width:51%; margin-right:4%; display:inline-block; float:left; min-height:45px; }
.generic-form .form-middle-multiline { width:51%; margin-right:4%; display:inline-block; float:left; }
.generic-form .form-middle .textbox-outer { height:auto; display:block; background:#fafafa; padding:12px 10px; border:1px solid #cdccca; margin-bottom:0px; overflow:hidden; }
.generic-form .form-middle .textbox { display:block; padding:0px; background:#fafafa; border:none; width:100%; margin:0px; box-shadow:none; }
.generic-form .form-middle .textbox-outer-short { width:30%; height:auto; display:block; background:#fafafa; padding:12px 10px; border:1px solid #cdccca; margin-bottom:0px; overflow:hidden; }

.generic-form .form-50 { width:40%; margin-right:10%; display:inline-block; float:left;  padding:10px 0 0 0; text-align:left; color:#666666; font-size:15px; }
.generic-form .form-50 input{width:90%; display:block; float:none;}

.generic-form .textbox-multiline { height:150px; display:block; background:#fafafa; padding:12px 10px; border:1px solid #cdccca; margin-bottom:0px; overflow:hidden; }
.generic-form .textbox-multiline .textbox { display:block; height:120px; background:#fafafa; border:none; width:100%; margin:0px; font-size:0.8em; box-shadow:none; padding:0px; }
.generic-form .form-right { width:20%; display:inline-block; float:left; /*height:40px;*/ padding:5px 0 0 0; font-size:0.85em; color:#949494; }
.generic-form .form-row .button { float:right; width:100%; max-width:25%; }
.generic-form .form-row #confirm .button { float:right; width:auto; max-width:25%; }
.generic-form .form-right #confirm .button { float:right; width:auto; max-width:inherit; }
.generic-form .email-signup { width:100%; overflow:hidden; margin-bottom:24px; padding:13px 0; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; font-size:100%; font-weight:bold;}
.generic-form .email-signup .email-agree { margin:0 10px; }
.generic-form .terms-row { width:100%; overflow:hidden; text-align:center; font-size:80%; margin-bottom:25px; }
@media handheld, only screen and (max-width: 800px) {
.generic-form .form-right { font-size:0.70em; }
}
@media handheld, only screen and (max-width: 620px) {
.generic-form .form-row { width:100%; overflow:hidden; margin-bottom:5px; }
.generic-form .form-right { display:none; }
.generic-form .form-left { width:100%; margin-right:0%; display:block; float:none; height:auto; margin:0 0 5px 0; text-align:left; font-size:80%; }
.generic-form .form-middle { width:100%; margin-right:0%; display:block; float:none; height:45px; }
.generic-form .form-middle-multiline { width:100%; margin-right:0%; display:block; float:none; }
.generic-form .form-middle .textbox-outer-short { width:auto; }
}

/* Order Summary Styles */
.order-summary-title { text-align:center; color:#333; font-size:20px; background:url(/images/ecommerce/h3-bg.jpg) left 12px repeat-x; margin-bottom:10px; padding:0px; text-transform:uppercase; }
.order-summary-title span { background:#fff; padding:0 25px; }
.last { margin-right:0px; }
.order-sub-title { font-size:80%; margin-top:-10px; padding:0px; text-align:center; display:block; margin-bottom:20px; }
.blank-row { padding:6px 0 0px 0; overflow:hidden; }
.edit-button { float:right; display:block; background:#3b3b3b; text-align:center; padding:15px 20px; margin:-32px 0; color:#fff; }
.edit-button:hover { color:#ddd; }
.dark-cell { background:#e2e2e1; }
.centered-img { text-align:center; width:100%; display:block; overflow:hidden; margin-top:25px; }
.centered-img img { margin:0 auto; }
@media handheld, only screen and (max-width: 620px) {
.blank-row { font-size:85%; }
.col-40 { width:30%; float:left; display:inline-block; }
.col-10 { width:20%; float:left; display:inline-block; }
}