<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');
?>

     <section class="hero container">
        <div class="row">
        <div class="twelvecol">
        <div class="cycle-slideshow relative" data-cycle-fx="scrollHorz" data-cycle-speed="200" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div.slide" data-cycle-swipe="true">

           
        <?php foreach ($banners as $banner): ?>

            
                 <div class="slide"><img height="450px" width="774px" class="equal-height" alt="" src="<?php echo $this->getBannerImage($banner['image']); ?>" title="<?php echo $banner['name']; ?>" />
                <div class="equal-height slider-text">
                <h1><a href="<?php echo $banner['click_url']; ?>" target="<?php echo $this->getTarget($banner['tartget'])?>"  onclick="bannerClicks('<?php echo $banner['banner_id']?>','<?php echo $blocks['bannerslider_id'] ?>')"><?php echo $banner['name']; ?></a></h1>
                <p class="big-text"></p>
                <a  href="<?php echo $banner['click_url']; ?>" class="button"><span>View the range</span></a></div>
                </div>

           
            <!--     <a href="<?php echo $banner['click_url']; ?>" target="<?php echo $this->getTarget($banner['tartget'])?>" style="display:block;" onclick="bannerClicks('<?php echo $banner['banner_id']?>','<?php echo $blocks['bannerslider_id'] ?>')"><img src="<?php echo $this->getBannerImage($banner['image']); ?>" title="<?php echo $banner['name']; ?>" alt="<?php echo $banner['image_alt']; ?>" width="<?php echo $blocks['width'] ?>" height="<?php echo $blocks['height'] ?>"/></a> -->
           
            <?php endforeach; ?>    
        <div class="pagination">&nbsp;</div>
        </div>
        </div>
        </div>
        </section>  
    <script type="text/javascript">
        function bannerClicks(id_banner,slider_id){
		var click_url = '<?php echo $click_url;?>';
		banner_id = id_banner;
		new Ajax.Request(click_url,{
			method: 'post',
			parameters:{id_banner: banner_id,slider_id:slider_id},
			onFailure: '',
			onSuccess: ''
			
		});
		
	}
    </script>