<?php
$_productCollection = Mage::getModel('catalog/product')->getCollection();
$_productCollection->addAttributeToSelect(array(
                                   'image',
                                   'name',
                                   'short_description'
                   ))
                   ->addFieldToFilter('visibility', array(
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                   )) //showing just products visible in catalog or both search and catalog
                   ->addFieldToFilter('featured', 1)
                   ->addFinalPrice()
//                        ->addAttributeToSort('price', 'asc') //in case we would like to sort products by price
                   ->getSelect();

$_productCollectionTop = Mage::getModel('catalog/product')->getCollection();
$_productCollectionTop->addAttributeToSelect(array(
                                   'image',
                                   'name',
                                   'short_description'
                   ))
                   ->addFieldToFilter('visibility', array(
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                   )) //showing just products visible in catalog or both search and catalog
                   ->addFieldToFilter('topseller', 1)
                   ->addFinalPrice()
//                        ->addAttributeToSort('price', 'asc') //in case we would like to sort products by price
                   ->getSelect();

$_productCollectionNew = Mage::getModel('catalog/product')->getCollection();
$_productCollectionNew->addAttributeToSelect(array(
                                   'image',
                                   'name',
                                   'short_description'
                   ))
                   ->addFieldToFilter('visibility', array(
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                   )) //showing just products visible in catalog or both search and catalog
                   ->addFieldToFilter('new', 1)
                   ->addFinalPrice()
//                        ->addAttributeToSort('price', 'asc') //in case we would like to sort products by price
                   ->getSelect();

$_productCollectionOffers = Mage::getModel('catalog/product')->getCollection();
$_productCollectionOffers->addAttributeToSelect(array(
                                   'image',
                                   'name',
                                   'short_description'
                   ))
                   ->addFieldToFilter('visibility', array(
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                               Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                   )) //showing just products visible in catalog or both search and catalog
                   ->addFieldToFilter('specialoffer', 1)
                   ->addFinalPrice()
//                        ->addAttributeToSort('price', 'asc') //in case we would like to sort products by price
                   ->getSelect();
 

 
$_helper = $this->helper('catalog/output');
?>
   <section class="grey-texturered-panel container">
      <div class="owl row">
        <div class="twelvecol">
          <h4 class="centered-h3"><span>Our Products</span><img src="/images/down-grey-arrow.png"></h4>
          <!--Carousel-->
          <div class="customNavigation">
            <a class="btn prev"><i class="fa fa-angle-left fa-2x"></i></a>
            <a class="btn next"><i class="fa fa-angle-right fa-2x"></i></a>
          </div>
          <div class="owl-carousel" id="owl-example">
            <?php foreach ($_productCollection as $_product): ?>
            <div class="item">
              <a href="<?php echo $_product->getProductUrl() ?>">
                <img src="<?php 
                echo $_product->getImageUrl()
                              
               ?>"  width="385" height="385" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" >

            

      
                <h2><span><?php echo $_product->name?></span></h2>
              </a>
            </div>
                    
          <?php endforeach; ?>
          </div>
          <script src="/scripts/owl.carousel.js"></script>
          <script>
          var j = jQuery.noConflict();

            j(document).ready(function () {

                           var owl = j("#owl-example");

              owl.owlCarousel({
                items: 3,   
              });
              
              // Custom Navigation Events
              j(".next").click(function () {
                owl.trigger('owl.next');
              })
              j(".prev").click(function () {
                owl.trigger('owl.prev');
              })
            });
          </script>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
<!--       <div class="row">
        <div class="twelvecol">
        
          <div class="tabs">
            <ul id="tab-set" class="tab">
              <li><h4><a class="selected" rel="tab-content1" href="#tab1">Top Sellers</a></h4></li>
              <li><h4><a rel="tab-content2" href="#tab2">New</a></h4></li>
              <li class="red"><h4><a rel="tab-content3" href="#tab3">Special Offers</a></h4></li>
            </ul>
            <div class="tab-content" id="tab-content1" itemprop="description">
              <div class="text-pad">
                 <?php foreach ($_productCollectionTop as $_productTop): ?>
                <div class="product fifth-col">
                  <img src="<?php echo $_productTop->getImageUrl();?>" width="225" height="235" alt="<?php echo $this->stripTags($this->getImageLabel($_productTop, 'small_image'), null, true) ?>" />
                  <h4><?php echo $_productTop->name ?></h4>
                  <p><s>&pound;1000.00</s> <strong>&pound;999.00</strong></p>
                  <a class="button" href="<?php echo $_productTop->getProductUrl() ?>"><span>View Details</span></a>
                </div>
                 <?php endforeach; ?>
              </div>
            </div>
            <div class="tab-content" id="tab-content2">
              <div class="text-pad">
                <?php foreach ($_productCollectionNew as $_productNew): ?>
                <div class="product fifth-col">
                  <img src="<?php echo $_productNew->getImageUrl();?>" width="225" height="235" alt="<?php echo $this->stripTags($this->getImageLabel($_productNew, 'small_image'), null, true) ?>" alt="<?php echo $_productNew->name ?>">
                  <h4><?php echo $_productNew->name ?></h4>
                  <p><s>&pound;1000.00</s> <strong>&pound;999.00</strong></p>
                  <a class="button" href="<?php echo $_productNew->getProductUrl() ?>"><span>View Details</span></a>
                </div>
                 <?php endforeach; ?>
              </div>
            </div>
            <div class="tab-content" id="tab-content3">
              <div class="text-pad">
                <?php foreach ($_productCollectionOffers as $_productOffers): ?>
                <div class="product fifth-col">
                  <img src="<?php echo $_productOffers->getImageUrl();?>" width="225" height="235" alt="<?php echo $this->stripTags($this->getImageLabel($_productOffers, 'small_image'), null, true) ?>" alt="<?php echo $_productOffers->name ?>">
                  <h4><?php echo $_productOffers->name ?></h4>
                  <p><s>&pound;1000.00</s> <strong>&pound;999.00</strong></p>
                  <a class="button" href="<?php echo $_productOffers->getProductUrl() ?>"><span>View Details</span></a>
                </div>
                 <?php endforeach; ?>
              </div>
            </div>
            <script type="text/javascript">
              var countries = new ddtabcontent("tab-set")
              countries.setpersist(true)
              countries.setselectedClassTarget("link")
              countries.init()
            </script>
          </div>
        </div>
      </div> -->
      <div class="clear"></div>
    </section>